<div style="text-align:center">
  <div>-------------</div>

  <app-like-post [likesCount]="post.likesCount" [isLiked]="post.isLiked" [body]="post.body" (onclick)="isLikedClicked($event)"></app-like-post>

  <div>-------------</div>
  <div>-------------</div>
  <div>-------------</div>
  <div>-------------</div>
  <div>-------------</div>
  <div>-------------</div>
  <div>-------------</div>
  <div>-------------</div>
  <div>-------------</div>
  <div>Is favorite icon active: {{ isFavoriteIconActive.newValue }}</div>
  <div>Has second star been clicked? {{titleTwo}}</div>
  <div>-------------</div>
  <app-facorite-icon [isFavorite]="isFavorite" (onclick)="onFavoriteChanged($event)"></app-facorite-icon>
  <div>-------------</div>
  <util-title-casing></util-title-casing>
  <div>-------------</div>
  <app-button-clicker (notify)="theTitleWillUpdateOnClick($event)"></app-button-clicker>
  <div>-------------</div>
  <bootstrap-component>
    <ng-container class="heading">Heading passed by ng-container with select class to exclude external div</ng-container>
    <div class="body">body passed by ng-content with select class</div>
  </bootstrap-component>
  <div>-------------</div>
</div>